<main id="about">
    
  <h1 class="lg-heading">
        About <span class="text-secondary">Me</span>
    </h1>

    <h2 class="sm-heading">
      only people who always want to know !!
    </h2>

    <div class="about-info">
      <img class="bio-image" src="./../../assets/img/potrait_bg.jpg" alt="Dean Vhin">
    
      <div class="bio">
        <h3 class="text-secondary">My Bio</h3>
        <p> Hai ,My Name is Dean Jajang Sukmana - Starting from trying to understand the basics of html, css3 and javascript when I was in junior high school. once worked as a mechanical engineer at IGR Service, and now freelance as a front-end web programming developer. I like to try new things, and I like working with team work. I am currently understanding / learning the programming language Angular-Cli and reactNative. Thank you for viewing my portfolio.</p>
      </div>
   

      <div class="job job-1">
        <h3>Website Kelurahan soklat</h3>
        <h6>Front End - back End</h6>
        <p>use the php programming language with framework codeIgniter and use the SQL database.</p>
      </div>
      

    </div>

  </main>