<main id="contact">
    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.5052947791523!2d107.77778520876781!3d-6.572177558051784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2d5eb22adc4f2a8!2sKhey&#39;Cake!5e0!3m2!1sid!2sid!4v1548590910224"  frameborder="1" style="border:1" allowfullscreen>
    </iframe>
    <h2 class="text-secondary maps-info">
      You can find me at :
    </h2>
    <hr/>
    <div class="icons-maps">
      <a href="https://twitter.com/dean_cepotSBG" target="blank" alt="My Tweet"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/iiandtt.engang" target="blank" alt="My Facebook"><i class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://www.instagram.com/deanphotograph/" target="blank" alt="My instagram"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://github.com/deanvhin2" target="blank" alt="My Github"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://wa.me/08221739292927?text=Hai dean saya melihat portfolio anda !" target="blank" alt="My Whatsapp"><i class="fa fa-whatsapp fa-2x"></i></a>
    </div>
  </main>