<main id="work">
  <h1 class="lg-heading">My <span class="text-secondary">Work</span></h1>
  <h2 class="sm-heading">Check Out Some Of My Project. . .</h2>

  <div class="projects">

    <div class="item">
      <mat-card class="card">
        <mat-card-title>Website Kelurahan</mat-card-title>
        <mat-card-subtitle>Full Stack</mat-card-subtitle>
        <img
          mat-card-image
          src="./../../assets/img/project/projects1.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content> <p>use the php programming language with framework codeIgniter and use the SQL database.</p> </mat-card-content>
        <mat-card-actions>
          <a href="http://kel-soklat.com" class="btn-light" target="blank"> <i class="fa fa-eye"></i> Project </a>
          <a href="https://github.com/OpenSID/OpenSID" class="btn-dark" target="blank"> <i class="fa fa-github"></i> Github </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- <div class="item">
        <mat-card class="card">
          <mat-card-title>Website Kelurahan</mat-card-title>
          <mat-card-subtitle>Full Stack</mat-card-subtitle>
          <img
            mat-card-image
            src="./../../assets/img/project/projects1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content> <p></p> </mat-card-content>
          <mat-card-actions>
            <a href="http://kel-soklat.com" class="btn-light" target="blank"> <i class="fa fa-eye"></i> Project </a>
            <a href="https://github.com/OpenSID/OpenSID" class="btn-dark" target="blank"> <i class="fa fa-github"></i> Github </a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="item">
          <mat-card class="card">
            <mat-card-title>Website Kelurahan</mat-card-title>
            <mat-card-subtitle>Full Stack</mat-card-subtitle>
            <img
              mat-card-image
              src="./../../assets/img/project/projects1.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content> <p></p> </mat-card-content>
            <mat-card-actions>
              <a href="http://kel-soklat.com" class="btn-light" target="blank"> <i class="fa fa-eye"></i> Project </a>
              <a href="https://github.com/OpenSID/OpenSID" class="btn-dark" target="blank"> <i class="fa fa-github"></i> Github </a>
            </mat-card-actions>
          </mat-card>
        </div> -->

  </div>
</main>
