<main id="home">
  <h1 class="lg-heading">
      Dean <span class="text-secondary">Vhin</span>
  </h1>
  <h2 class="sm-heading">
    Web Developer | Front-End Developer | Photograph Designer
  </h2>
  <div class="icons">
    <a href="https://twitter.com/dean_cepotSBG" target="blank" alt="My Tweet"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/iiandtt.engang" target="blank" alt="My Facebook"><i class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://www.instagram.com/deanphotograph/" target="blank" alt="My instagram"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://github.com/deanvhin2" target="blank" alt="My Github"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://wa.me/08221739292927?text=Hai dean saya melihat portfolio anda !" target="blank" alt="My Whatsapp"><i class="fa fa-whatsapp fa-2x"></i></a>
  </div>
</main>
